<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.datong.radiodab">
    <!-- This permission is required to allow the radio to be muted. -->
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_SETTINGS" />
    <uses-permission android:name="android.car.permission.CAR_CONTROL_AUDIO_VOLUME" />
    <uses-permission android:name="android.car.permission.CAR_RADIO" />
    <uses-permission android:name="android.permission.ACCESS_BROADCAST_RADIO" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" /> <!-- Media Center permission to fetch and update the currently selected media source -->
    <uses-permission android:name="com.android.car.media.provider.READ_WRITE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application>
        <activity
            android:name=".DabSettingActivity"
            android:configChanges="uiMode"
            android:exported="false" />

        <service
            android:name=".DabService"
            android:enabled="true"
            android:exported="true"
            android:process=":dabService">
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>
        </service>
    </application>

</manifest>